<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/startbootstrap_simple-sidebar}">
<!-- reemplazar el head, NO permite agregar nada -->
<!-- <head th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}">
    <title>oli</title>
    <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head> -->

<!-- https://stackoverflow.com/questions/60271368/insert-template-without-overriding-childs-in-thymeleaf-default-head-template -->
<!-- reemplazar el head, PERMITE agregar en el head -->

<head>
  <th:block th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}"></th:block>
  <title th:text="${titleWindow}"></title>
  <!-- mi estilo personalizado - index -->
  <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head>

<body>


  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
  <div class="container-fluid" layout:fragment="page-content">
    <!--
    <h1 class="color-rojo">@RequestParams - index</h1>
    <h2 class="color-azul">ENVIAR parametros del Request HTTP GET- URL</h2>
    -->
    <h1 class="color-morado">
      <img width="300" alt="no-existe-imagen1" th:src="@{/assets/spring-logo-2022.svg}"> Usuario [[${title}]]
    </h1>
    <h2 class="color-azul">[[${subtitle}]]</h2>

    <!-- localhost:8080/user/getStrings -->
    <div th:if="${usersString != null}">
      <p th:text="${usersString}"> </p>
    </div>
    <!-- -->

    <div th:if="${user}">
      <p th:text="${user.name} + ' ' + ${user.lastName}"></p>
      <p th:if="${user.email}" th:text=${user.email}></p>
      <span th:if="${user.email == null}" th:text=" 'el usuario no tiene email' "></span><br>
      <span th:if="${user.email == null}">el usuario no tiene correo</span>
    </div>

  </div>
  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->


  <!--OTRO SCRIPTS PARA PAGINAS-->
  <th:block layout:fragment="page-scripts">

  </th:block>
</body>

</html>