<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>parametros RequestParam</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1 class="color-rojo">@RequestParams - index</h1>
	<h2 class="color-azul">ENVIAR parametros del Request HTTP GET- URL</h2>

	<table class="table table-dark table-striped table-hover">
		<thead>
			<tr>
			<td>#</td>
			<td>CONTROLADOR</td>
			<td>URL</td>
		  </tr>
	  </thead>
	  <tbody>
	  </tbody>
			<tr>
				<td>1</td>
				<td>RequestParamController</td>
				<td>
					<br/> - <a th:href="@{/requestParams/string(param1='Moticas',param3='Shushi y Minni',parametro='canarios')}">
						http://localhost:8080/requestParams/string?param1=Moticas&amp;param3=Shushi%20y%20Minni&amp;parametro=canarios
					</a>
					<br/> - <a th:href="@{/requestParams/mix-params(paramSaludo='Hola Bryan',paramAño=2022)}">
						/requestParams/mix-params?paramSaludo=Hola%20Bryan&amp;paramAño=2022
					</a>
					<br/> - <a th:href="@{/requestParams/mix-params-request(saludo='Hola Bryan',año=2023)}">
						/requestParams/mix-params-request?saludo=Hola%20Bryan&amp;año=2023
					</a>

					<br/> <br/> 
					* <a href="http://localhost:8080/requestParams/index">http://localhost:8080/requestParams/string</a> *
				</td>
		  	</tr>
	</table>

	<div class="alert alert-info" role="alert">
		<a href="http://localhost:8080/app/index">INDEX PRINCIPAL</a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>