<h2>Por Región</h2>
<hr>

<div
  class="row justify-content-center align-items-center g-2"
>
  <div class="col">
    <!-- SearchBox: busquedas ~~ SIN-PARAMETRO=placeholder_vacio -->
    <shared-search-box
      [propiedadPlaceholder]="'por región'"
      (onValue)="searchByRegion($event)"
    ></shared-search-box>
  </div>
</div>

<hr>
<div
  class="row justify-content-center align-items-center g-2"
>
  <div class="col">
    <!-- TableResult: tabla-resultados -->
    <countries-country-table
      [regions]="this.regions"
    ></countries-country-table>
  </div>
</div>
