<!DOCTYPE html>
<html lang="es" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layoutTemplateBootstrap}">
  <head th:replace="~{layout/layoutTemplateBootstrap :: head}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
	  

	<!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
    <div class="container-fluid" layout:fragment="page-content">
      <h1 th:text="${titulo}"></h1>
      <h2 class="mt-4">Simple Sidebar</h2>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
      <p>
        Make sure to keep all page content within the
        <code>#page-content-wrapper</code>
        . The top navbar is optional, and just for demonstration. Just create an element with the
        <code>#sidebarToggle</code>
        ID which will toggle the menu when clicked.
      </p>
      <!-- links de apoyo -->
      <div class="list-group">
        <a href="http://localhost:8080/prueba" class="list-group-item list-group-item-action active" aria-current="true">
          http://localhost:8080/prueba - ULTIMA-VERSION-BOOTSTRAP - SIN_TEMPLATE
        </a>
        <a href="http://localhost:8080/greeting" class="list-group-item list-group-item-action" aria-current="true">
          http://localhost:8080/greeting
        </a>
        <a class="list-group-item list-group-item-action disabled" aria-disabled="true">Proximamente...</a>
        <!--
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
        -->
    </div>
	</div>


    <!--OTRO SCRIPTS PARA PAGINAS-->
    <th:block layout:fragment="page-scripts">

    </th:block>
  </body>
</html>