<!--
  # = referenciaLocal
  #<nombreReferenciaLocal>

    CADA VES QUE PRESIONO, CUALQUIER TECLA
    (keyup)="emitKeyEnterValue(txtSearchInput)"

    CUANDO PRESIONE TECLA<ENTER>
    (keyup.enter)="emitKeyEnterValue(txtSearchInput)"

    CUANDO PRESIONE TECLA<ENTER>; enviar-propiedad[value]
    (keyup.enter)="emitirValorDirecto(txtSearchInput.value)"
-->
<!-- <input
  type="text"
  [placeholder]="propiedadPlaceholder"
  class="form-control"
  #txtSearchInput
  (keyup.enter)="emitKeyEnterValue(txtSearchInput)"
> -->


<!-- --------------------------------------------------- -->
<!-- --------------------------------------------------- -->
<input
  type="text"
  [placeholder]="propiedadPlaceholder"
  class="form-control"
  #txtSearchInput
  (keyup)="emitKeyPressValue(txtSearchInput.value)"
>

