<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/startbootstrap_simple-sidebar}">
<!-- reemplazar el head, NO permite agregar nada -->
<!-- <head th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}">
    <title>oli</title>
    <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head> -->

<!-- https://stackoverflow.com/questions/60271368/insert-template-without-overriding-childs-in-thymeleaf-default-head-template -->
<!-- reemplazar el head, PERMITE agregar en el head -->

<head>
  <th:block th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}"></th:block>
  <title th:text="${titleWindow}"></title>
  <!-- mi estilo personalizado - index -->
  <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head>

<body>


  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
  <div class="container-fluid" layout:fragment="page-content">
    <h1 class="color-morado">
      <img width="300" alt="no-existe-imagen1" th:src="@{/assets/spring-logo-2022.svg}"> [[${title}]] Formulario
    </h1>
    <h2 class="color-azul">Datos del usuario: [[${content}]]</h2>

    <!-- /3-springboot-form/src/main/java/com/company/di/controller/FormularioValidationController.java -->

    <!-- THYMELEAF
      *: apuntar a una variable: Mapear campo formulario, sea atributo entity o modeloEntradaDTO
      #: helper mensajes de validacion
      $: expresion: expresion codigo java, validar, interpolacion string, mostrar datos, mapear un Object
      @: rutas: rutas url
    -->
    <!-- FORMULARIO #1 -->
    <div class="card  mt-3">
      <div class="card-header">
        Formulario #3 :O
      </div>
      <div class="card-body">
        <h5 class="card-title">Object <span class="text-primary">Mapea y setea directamente un campo.HTML </span> =>
            A UN ATRIBUTO DE CLASE 'MODELO-ENTRADA-DTO', OBJETO ENTITY&lt;USUARIO&gt; en:</span> FORMULARIO-VALIDATION-CONTROLLER.'procesarFormulario_porDominioUsuario_valida1()'
        </h5>

        <!-- OBJETO THYMELEAF
          1.Para el (th:object): Define el objeto."modeloEntradaDTO" el cual tendra obtendra (mapeo, asignacion)
                                -th:object:"${usuario}" = viene de  ForumlarioController.GetMapping(/form).verFormulario()
          2.Para el (th:field): Para los campos.HTML en cada inputs, usa (objeto-implicito."modeloEntradaDTO") y solo llama los atributos de este objeto
                              -de forma automatica se agrega los atributos: 
                                  'name:"mismo-nombre-th-field"'
                                  'value:"mismo-nombre-th-field"'
          3.1 '*' :
          3.2 '#' : Para utilizar un objeto helper o de utilidad de thymeleaf.
                    -Helper para validar y obtener los mensajes de error "fields"
        -->
        <form th:action="@{/form_entidadUsuario_conObjectThymeleaf}" th:object="${usuario}" method="post">

          <div class="form-floating mb-3">
            <input type="text" id="pais2ID" th:field="*{pais}"
              th:class="${#fields.hasErrors('pais')} ? 'form-control is-invalid' : 'form-control'">
            <label for="pais2ID">Pais    :ValorDefault por mapeo de formularios</label>
            <!-- ERROR: CAMPO-1 -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" id="idRegex2ID" th:field="*{idRegex}"
              th:class="${#fields.hasErrors('idRegex')} ? 'form-control is-invalid' : 'form-control'">
            <label for="idRegex2ID">IdRegex  :Expresion Regular</label>
            <!-- ERROR: CAMPO-2 -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('idRegex')}" th:errors="*{idRegex}"></div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="telefono2ID" th:field="*{telefono}"
              th:class="${#fields.hasErrors('telefono')} ? 'form-control is-invalid' : 'form-control'">
            <label for="telefono2ID">Telefono  :Expresion Regular</label>
            <!-- ERROR: CAMPO3 -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" id="username2ID" th:field="*{username}"
              th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'">
            <label for="username2ID">Username</label>
            <!-- ERROR: CAMPO-4 -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" id="password2ID" th:field="*{password}"
              th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'">
            <label for="password2ID">Password</label>
            <!-- ERROR: CAMPO-5 -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="email2ID" th:field="*{email}"
              th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'">
            <label for="email2ID">Email</label>
            <!-- ERROR: CAMPO-6 -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
          </div>

          <input type="submit" class="btn btn-primary" value="Enviar">
        </form>

      </div>
    </div>


  </div>
  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->


  <!-- BEGIN:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->
  <div th:fragment="contenido">
    <!-- PAGINA PRINCIPAL -->
    <div class="container text-center mt-4">
      <div class="row">
        <div class="col">
          <a th:href="@{ ${MY_PATH} + ${'/index'}}">
            <div class="alert alert-info ms-3 me-3" role="alert">
              INDEX PRINCIPAL
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- END-PAGINA PRINCIPAL -->
  </div>
  <!-- END:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->


  <!--OTRO SCRIPTS PARA PAGINAS-->
  <th:block layout:fragment="page-scripts">

  </th:block>
</body>

</html>