<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/startbootstrap_simple-sidebar}">
<!-- reemplazar el head, NO permite agregar nada -->
<!-- <head th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}">
    <title>oli</title>
    <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head> -->

<!-- https://stackoverflow.com/questions/60271368/insert-template-without-overriding-childs-in-thymeleaf-default-head-template -->
<!-- reemplazar el head, PERMITE agregar en el head -->

<head>
  <th:block th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}"></th:block>
  <title th:text="${titleWindow}"></title>
  <!-- mi estilo personalizado - index -->
  <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head>

<body>


  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
  <div class="container-fluid" layout:fragment="page-content">
    <!--
	<h1 class="color-rojo">@RequestParams - index</h1>
	<h2 class="color-azul">ENVIAR parametros del Request HTTP GET- URL</h2>
	-->
    <h1 class="color-morado">
      <img width="300" alt="no-existe-imagen1" th:src="@{/assets/spring-logo-2022.svg}"> [[${title}]] Formulario
    </h1>
    <h2 class="color-azul">Datos del usuario: [[${content}]]</h2>

    <!-- RESPUESTA-FORMULARIO -->
    <div class="card  mt-3">
      <div class="card-header">
        Respuesta
      </div>
      <div class="card-body">
        <!-- valor por defecto, GetMapping('/form')
            pais: PERTENECE A  FORMULARIO.POST "/form_entidadUsuario_conObjectThymeleaf" -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputUsername" th:name="pais" th:value="${usuario.pais}"
            readonly>
          <label for="floatingInputUsername">Pais :Expresion Regular, BY-@ANOTACION-PERSONALIZADA</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputIdRegex2" th:name="idRegex2"
            th:value="${usuario.idRegex2}" readonly>
          <label for="floatingInputIdRegex2">IdRegex2 :Expresion Regular, BY-@ANOTACION-PERSONALIZADA</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputTelefono" th:name="telefono"
            th:value="${usuario.telefono}" readonly>
          <label for="floatingInputTelefono">Telefono :Expresion Regular, BY-CLASS-USUARIO_VALIDATOR</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputNombre" th:name="nombre" th:value="${usuario.nombre}"
            readonly>
          <label for="floatingInputNombre">Nombre :BY-CLASS-USUARIO_VALIDATOR</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInputEmail" name="email" th:value="${usuario.email}"
            readonly>
          <label for="floatingInputEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputNumeroCuenta" name="numeroCuenta"
            th:value="${usuario.numeroCuenta}" readonly>
          <label for="floatingInputNumeroCuenta">NumeroCuenta</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputFechaNac" name="fechaNac"
            th:value="${usuario.fechaNac}" readonly>
          <label for="floatingInputFechaNac">Fecha Nacimiento</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputFechaNac2" name="fechaNac2"
            th:value="${usuario.fechaNac2}" readonly>
          <label for="floatingInputFechaNac2">Fecha Nacimiento2</label>
        </div>
        <div class="form-floating mb-3">
          <!-- th:text  "${#dates.format(otherDate, 'dd-MM-yyyy HH:mm')}" -->
          <input type="text" class="form-control" id="floatingInputFechaNac3" name="fechaNac3"
            th:value="${#dates.format(usuario.fechaNac3, 'yyyy-MM-dd')}" readonly>
          <label for="floatingInputFechaNac3">Fecha Nacimiento3</label>
        </div>

        <div class="form-floating mb-3">
          <select id="paisSelectStrID" aria-label="Selector de paises str" th:class="'form-select'">
            <option th:value="${usuario.paisSelectStr}" readonly>[[${usuario.paisSelectStr}]]</option>
          </select>
          <label for="floatingInputpaisSelectStr">Pais Selected String</label>
        </div>
        <div class="form-floating mb-3">
          <select id="paisSelectObjID" aria-label="Selector de paises obj" th:class="'form-select'">
            <option th:value="${usuario.paisSelectObj.id}" readonly>[[${usuario.paisSelectObj.id}]]</option>
          </select>
          <label for="floatingInputpaisSelectObj">Pais Selected Object</label>
        </div>
        <div>
          <p>[[${usuario.paisSelectObj}]]</p>
        </div>

      </div>
    </div>

  </div>
  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->


  <!-- BEGIN:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->
  <div th:fragment="contenido">
    <!-- PAGINA PRINCIPAL -->
    <div class="container text-center mt-4">
      <div class="row">
        <div class="col">
          <a th:href="@{ ${MY_PATH} + ${'/index'}}">
            <div class="alert alert-info ms-3 me-3" role="alert">
              INDEX PRINCIPAL
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- END-PAGINA PRINCIPAL -->
  </div>
  <!-- END:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->


  <!--OTRO SCRIPTS PARA PAGINAS-->
  <th:block layout:fragment="page-scripts">

  </th:block>
</body>

</html>