<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/startbootstrap_simple-sidebar}">
<!-- reemplazar el head, NO permite agregar nada -->
<!-- <head th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}">
    <title>oli</title>
    <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head> -->

<!-- https://stackoverflow.com/questions/60271368/insert-template-without-overriding-childs-in-thymeleaf-default-head-template -->
<!-- reemplazar el head, PERMITE agregar en el head -->

<head>
  <th:block th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}"></th:block>
  <title th:text="${titleWindow}"></title>
  <!-- mi estilo personalizado - index -->
  <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head>

<body>


  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
  <div class="container-fluid" layout:fragment="page-content">
    <!--
	<h1 class="color-rojo">@RequestParams - index</h1>
	<h2 class="color-azul">ENVIAR parametros del Request HTTP GET- URL</h2>
	-->
    <h1 class="color-morado">
      <img width="300" alt="no-existe-imagen1" th:src="@{/assets/spring-logo-2022.svg}"> [[${title}]] Formulario
    </h1>
    <h2 class="color-azul">Datos del usuario: [[${content}]]</h2>

    <!-- RESPUESTA-FORMULARIO -->
    <div class="card  mt-3">
      <div class="card-header">
        Respuesta
      </div>
      <div class="card-body">
        <!-- valor por defecto, GetMapping('/form')
            pais: PERTENECE A  FORMULARIO.POST "/form_entidadUsuario_conObjectThymeleaf" -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputUsername" th:name="pais" th:value="${usuario1.pais}"
            readonly>
          <label for="floatingInputUsername">Pais :ValorDefault por mapeo de formularios</label>
        </div>
        <!-- valor por defecto, GetMapping('/form')
            identificadorUsuario :NO ESTA ASOCIADO A NINGUN FORMULARIO.POST -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputIdentificadorUsuario" th:name="identificadorUsuario"
            th:value="${usuario1.identificadorUsuario}" readonly>
          <label for="floatingInputIdentificadorUsuario">Identificador Usuario :por SessionAttributes</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputIdRegex" th:name="idRegex"
            th:value="${usuario1.idRegex}" readonly>
          <label for="floatingInputIdRegex">IdRegex :Expresion Regular</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputTelefono" th:name="telefono"
            th:value="${usuario1.telefono}" readonly>
          <label for="floatingInputTelefono">Telefono :Expresion Regular</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputUsername" th:name="username"
            th:value="${usuario1.username}" readonly>
          <label for="floatingInputUsername">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputPassword" name="password"
            th:value="${usuario1.getPassword()}" readonly>
          <label for="floatingInputPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInputEmail" name="email" th:value="${usuario1.email}"
            readonly>
          <label for="floatingInputEmail">Email</label>
        </div>
      </div>
    </div>

  </div>
  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->


  <!-- BEGIN:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->
  <div th:fragment="contenido">
    <!-- PAGINA PRINCIPAL -->
    <div class="container text-center mt-4">
      <div class="row">
        <div class="col">
          <a th:href="@{ ${MY_PATH} + ${'/index'}}">
            <div class="alert alert-info ms-3 me-3" role="alert">
              INDEX PRINCIPAL
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- END-PAGINA PRINCIPAL -->
  </div>
  <!-- END:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->


  <!--OTRO SCRIPTS PARA PAGINAS-->
  <th:block layout:fragment="page-scripts">

  </th:block>
</body>

</html>