<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/startbootstrap_simple-sidebar}">
<!-- reemplazar el head, NO permite agregar nada -->
<!-- <head th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}">
    <title>oli</title>
    <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head> -->

<!-- https://stackoverflow.com/questions/60271368/insert-template-without-overriding-childs-in-thymeleaf-default-head-template -->
<!-- reemplazar el head, PERMITE agregar en el head -->

<head>
  <th:block th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}"></th:block>
  <title th:text="${titleWindow}"></title>
  <!-- mi estilo personalizado - index -->
  <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head>

<body>


  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
  <div class="container-fluid" layout:fragment="page-content">
    <!--
	<h1 class="color-rojo">@RequestParams - index</h1>
	<h2 class="color-azul">ENVIAR parametros del Request HTTP GET- URL</h2>
	-->
    <h1 class="color-morado">
      <img width="300" alt="no-existe-imagen1" th:src="@{/assets/spring-logo-2022.svg}"> [[${title}]] Formulario
    </h1>
    <h2 class="color-azul">Datos del usuario: [[${content}]]</h2>

    <!-- RESPUESTA-FORMULARIO -->
    <div class="card  mt-3">
      <div class="card-header">
        Respuesta
      </div>
      <div class="card-body">
        <!-- valor por defecto, GetMapping('/form')
            pais: PERTENECE A  FORMULARIO.POST "/form_entidadUsuario_conObjectThymeleaf" -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputUsername" th:name="nombrePais"
            th:value="${usuario.nombrePais}" readonly>
          <label for="IDInputUsername">Nombre Pais :Expresion Regular, BY-@ANOTACION-PERSONALIZADA</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputIdRegex2" th:name="idRegex2" th:value="${usuario.idRegex2}"
            readonly>
          <label for="IDInputIdRegex2">IdRegex2 :Expresion Regular, BY-@ANOTACION-PERSONALIZADA</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputTelefono" th:name="telefono" th:value="${usuario.telefono}"
            readonly>
          <label for="IDInputTelefono">Telefono :Expresion Regular, BY-CLASS-USUARIO_VALIDATOR</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputNombre" th:name="nombre" th:value="${usuario.nombre}"
            readonly>
          <label for="IDInputNombre">Nombre :BY-CLASS-USUARIO_VALIDATOR</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="IDInputEmail" name="email" th:value="${usuario.email}" readonly>
          <label for="IDInputEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputNumeroCuenta" name="numeroCuenta"
            th:value="${usuario.numeroCuenta}" readonly>
          <label for="IDInputNumeroCuenta">NumeroCuenta</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputFechaNac" name="fechaNac" th:value="${usuario.fechaNac}"
            readonly>
          <label for="IDInputFechaNac">Fecha Nacimiento</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputFechaNac2" name="fechaNac2" th:value="${usuario.fechaNac2}"
            readonly>
          <label for="IDInputFechaNac2">Fecha Nacimiento2</label>
        </div>
        <!--
          https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#dates
            th:text  "${#dates.format(otherDate, 'dd-MM-yyyy HH:mm')}"
          https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#calendars
            th:text  "${#calendars.format(otherDate, 'dd-MM-yyyy HH:mm')}"
        -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="IDInputFechaNac3" name="fechaNac3"
            th:value="${#dates.format(usuario.fechaNac3, 'yyyy-MM-dd')}" readonly>
          <label for="IDInputFechaNac3">Fecha Nacimiento3</label>
        </div>

        <div class="form-floating mb-3">
          <select id="IDInputpaisSelectStr" aria-label="Selector de paises str" th:class="'form-select'">
            <option th:value="${usuario.paisSelectStr}" readonly>[[${usuario.paisSelectStr}]]</option>
          </select>
          <label for="IDInputpaisSelectStr">Pais Selected :STRING</label>
        </div>
        <div class="form-floating mb-3">
          <select id="paisSelectObjID" aria-label="Selector de paises obj" th:class="'form-select'">
            <option th:value="${usuario.paisSelectObj.id}" readonly>[[${usuario.paisSelectObj.id}]]</option>
          </select>
          <label for="paisSelectObjID">Pais Selected :OBJECT</label>
          <!-- prueba objeto -->
          <div>
            <p class="text-primary">Se realiza truco, para setear completo al objeto"Pais"</p>
            <p>estado-inicio: [[${paisInicial}]]</p>
            <p>estado-actual: [[${usuario.paisSelectObj}]]</p>
          </div>
        </div>
        <div class="form-floating mb-3">
          <select id="ciudadSelectObjID" aria-label="Selector de ciudades obj" th:class="'form-select'">
            <option th:value="${usuario.ciudadSelectObj.id}" readonly>[[${usuario.ciudadSelectObj.id}]]</option>
          </select>
          <label for="ciudadSelectObjID">Ciudad Selected :OBJECT_FULL</label>
          <!-- prueba objeto -->
          <div>
            <p class="text-primary">Seteamos completo al objeto"Ciudad", mediante @InitBinder.PropertyEditors</p>
            <p>[[${usuario.ciudadSelectObj}]]</p>
          </div>
        </div>

        <div class="form-floating mb-3">
          <select id="generoSelectObjID" aria-label="Default select example" th:class="'form-select'">
            <option th:value="${usuario.genero.codigo}" readonly>[[${usuario.genero.codigo}]]</option>
          </select>
          <label for="generoSelectObjID">Genero selected :</label>
          <!-- prueba objeto -->
          <div>
            <p>[[${usuario.genero}]]</p>
          </div>
        </div>

        <div class="form-floating mb-3">
          <h3>ROLES USUARIO</h3>
          <div id="grupo1_ListString">
            <p class="text-success">Grupo #1 : List&#60;String&#62;</p>
            <ul class="list-group">
              <!-- th:text="${roleSTR}" -->
              <li class="list-group-item" th:each="roleSTR : ${usuario.rolesListaString}">
                [[${roleSTR}]]
              </li>
            </ul>
            <!-- prueba objeto -->
            <div>
              <p class="d-none">[[${usuario.rolesListaString}]]</p>
            </div>
          </div>

          <div id="grupo2_MapString">
            <p class="text-success">Grupo #2 : Map&#60;String, String&#62;</p>
            <ul class="list-group">
              <li class="list-group-item" th:each="roleSTR : ${usuario.rolesMapToListString}">
                [[${roleSTR}]]
              </li>
            </ul>
            <!-- prueba objeto -->
            <div>
              <p class="d-none">[[${usuario.rolesMapToListString}]]</p>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->


  <!-- BEGIN:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->
  <div th:fragment="contenido">
    <!-- PAGINA PRINCIPAL -->
    <div class="container text-center mt-4">
      <div class="row">
        <div class="col">
          <a th:href="@{ ${MY_PATH} + ${'/index'}}">
            <div class="alert alert-info ms-3 me-3" role="alert">
              INDEX PRINCIPAL
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- END-PAGINA PRINCIPAL -->
  </div>
  <!-- END:CONTENIDO-STATICO  VISTA."index.html" ==> PARA  TEMPLATE."startbootstrap_simple-sidebar.html" -->


  <!--OTRO SCRIPTS PARA PAGINAS-->
  <th:block layout:fragment="page-scripts">

  </th:block>
</body>

</html>