<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    
    <div th:if="${usersString != null}">
		<p th:text="${usersString}"> </p>
	</div>

	<div th:if="${user}">
		<p th:text="${user.name} + ' ' + ${user.lastName}"></p>
		<p th:if="${user.email}" th:text=${user.email}></p>
		<span th:if="${user.email == null}" th:text=" 'el usuario no tiene email' "></span><br>
		<span th:if="${user.email == null}">el usuario no tiene correo</span>
	</div>
	
	<div class="alert alert-info" role="alert">
		<a href="http://localhost:8080/app/index">INDEX PRINCIPAL</a>
	</div>
</body>
</html>