<h1>Hello,Bryan {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p>
<p>😀😁😂🤣😃😄😅😆😉😊😋😎😍😘🥰😗😙😚
  ☺🙂🤗🤩🤔🤨😐😑😶🙄😏😣😥😮🤐😯😪😫🥱😴
  😌😛😜😝🤤😒😓😔😕🙃🤑😲☹🙁😖😞😟😤😢😭
  😦😧😨😩🤯😬😰😱🥵🥶😳🤪😵🥴😠😡🤬😷🤒🤕
  🤢🤮🤧😇🥳🥺🤠🤡🤥🤫🤭🧐🤓😈👿👹👺💀☠👻👽
  👾🤖💩😺😸😹😻😼😽🙀😿😾🐱‍👤🙈🙉🙊</p>
<hr>


<div class="row mt-5">
  <div class="col">
    <!--
      Visualizar componentes encapsulados
      mediante rutas establecidas en:
        - src/app/app-routing.module.ts
    -->
    <router-outlet></router-outlet>
  </div>
  <div class="col-12 col-sm-4">
    <shared-side-menu></shared-side-menu>
  </div>
</div>




