<!DOCTYPE html>
<html lang="es"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{plantilla/startbootstrap_simple-sidebar}">
<!-- reemplazar el head, NO permite agregar nada -->
<!-- <head th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}">
    <title>oli</title>
    <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head> -->

<!-- https://stackoverflow.com/questions/60271368/insert-template-without-overriding-childs-in-thymeleaf-default-head-template -->
<!-- reemplazar el head, PERMITE agregar en el head -->
<head>
  <th:block th:replace="~{plantilla/startbootstrap_simple-sidebar :: head}"></th:block>
  <title th:text="${titleWindow}"></title>
  <!-- mi estilo personalizado - index -->
  <link th:href="@{/css/mi_estilo.css}" rel="stylesheet" />
</head>
<body>


  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->
  <div class="container-fluid" layout:fragment="page-content">
    <h1 class="color-amarilloverde">
      <img width="300" alt="no-existe-imagen1" th:src="@{/assets/spring-logo-2022.svg}">
      @PathVariable - ver
    </h1>
    <h2 class="color-rojo" th:text="${titulo}">Recibir variables de la ruta (@PathVariable) - jojuojo</h2>

    <ol class="list-group list-group-numbered">
      <li class="list-group-item">[[${resultado1}]]</li>
      <li class="list-group-item">[[${resultado2}]]</li>
      <li class="list-group-item">[[${resultado3}]]</li>
      <li class="list-group-item">[[${resultado4}]]</li>
      <li class="list-group-item">[[${resultado5}]]</li>
    </ol>

    <!-- FOOTER -->
    <nav class="mt-3">
      <button type="button" class="btn btn-outline-info"
          th:onclick="location.href=[[${MY_PATH}]] + '/pathVariable/'">
        INDEX @PathVariable
      </button>
    </nav>
  </div>
  <!-- Page content       :CONTENIDO-DINAMICO-DE-LA-PAGINA-->


    <!--OTRO SCRIPTS PARA PAGINAS-->
    <th:block layout:fragment="page-scripts">

    </th:block>
  </body>
</html>